body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

:focus {
    box-shadow: none !important;
}

.btn {
    font-weight: 700;
    transition: .3s;
}

.btn-primary {
    background-color: $custom-color;
    border-color: $custom-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: $custom-color-dark;
    border-color: $custom-color-dark;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: $custom-color;
    border-color: $custom-color;
}

.btn-secondary {
    background-color: #fff;
    border-color: #000;
    color: $custom-color;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
    background-color: #fff;
    border-color: #000;
    color: $custom-color-dark;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: #fff;
    border-color: #000;
    color: $custom-color;
}

@media (min-width: 768px) {
    .pagelayout-standard #page.drawers .main-inner, body.limitedwidth #page.drawers .main-inner {
        max-width: 1280px;
    }
    #page.drawers {
        padding-left: 0;
        padding-right: 0;
    }
    #page.drawers .main-inner {
        max-width: 1280px;
        padding-left: 30px;
        padding-right: 30px;
    }
    body#page-site-index.limitedwidth #page.drawers .main-inner, body#page-my-index.pagelayout-mydashboard.limitedwidth #page.drawers .main-inner,
    body.pagelayout-course.limitedwidth #page.drawers .main-inner {
        max-width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    body#page-site-index.limitedwidth #page.drawers .main-inner #page-header, body#page-site-index.limitedwidth #page.drawers .main-inner .secondary-navigation, body#page-site-index.limitedwidth #page.drawers .main-inner #page-content, body#page-my-index.limitedwidth.pagelayout-mydashboard #page.drawers .main-inner #page-header, body#page-my-index.limitedwidth.pagelayout-mydashboard #page.drawers .main-inner .secondary-navigation, body#page-my-index.limitedwidth.pagelayout-mydashboard #page.drawers .main-inner #page-content, body.pagelayout-course.limitedwidth #page.drawers .main-inner #page-header, body.pagelayout-course.limitedwidth #page.drawers .main-inner .secondary-navigation, body.pagelayout-course.limitedwidth #page.drawers .main-inner #page-content {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    body#page-site-index.limitedwidth #page.drawers .main-inner #page-header, body#page-my-index.limitedwidth.pagelayout-mydashboard #page.drawers .main-inner #page-header, body.pagelayout-course.limitedwidth #page.drawers .main-inner #page-header {
        margin-top: 15px;
    }
}